[tool.poetry]
name = "django-lightweight-queue"
version = "3.0.3"
description = "Lightweight & modular queue and cron system for Django"
authors = ["Thread Engineering <tech@thread.com>"]
license = "BSD-3-Clause"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.5"
django = ">=1.11.27,<3.0"
daemonize = "~=2.5.0"
prometheus-client = "~=0.7"
redis = {version = "~=3.*", optional = true}

[tool.poetry.extras]
redis = ["redis"]

[tool.poetry.dev-dependencies]
fakeredis = "^1.1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
